* {
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
}

.wrapper {
    width: 95%;
    margin-right: auto;
    margin-left: auto;
}

nav {
    width: 100%;
    height: 10%;
    background-color: blue;
}

header {
    background-color: red;
}

main {
    background-color: orange;
}

footer {
    width: 100%;
    height: 4%;
    margin-top: auto;
    background-color: black;
}